@model AppTaskDetailsViewModel


<h2>@Model.MachineName</h2>

<div>@Model.UserCreatedFullName</div>
<div>@Model.Description</div>
<div>@Model.CreatedDate</div>

@*<div class="mb-3">
    <label asp-for="@Model.SpareParts" class="form-label">Spare Part</label>
    <select asp-for="@Model.SpareParts" class="form-control">
        @foreach (var sparePart in Model.SpareParts)
        {
            <option value="@sparePart.Id">@sparePart.Name</option>
        }
    </select>
    <span asp-validation-for="SpareParts" class="text-danger"></span>*@

    <select class="js-example-basic-multiple" name="states[]" multiple="multiple">
        @foreach (var sparePart in Model.SpareParts)
        {
            <option value="@sparePart.Id">@sparePart.Name</option>
        }
    </select>

@*</div>*@




<button><a class="nav-link text-dark" asp-area="" asp-controller="AppTask" asp-action="Cancel">Cancel</a></button>


@if (Model.Status == "In Process")
{
    <form class="input-group-sm" asp-route-taskId="@Model.Id" asp-route-machineName="@Model.MachineName" asp-controller="AppTask" asp-action="StartStopTask" method="post">
        <input type="submit" value="Stop" class="fs-6 btn btn-success mb-3 p-2" />
    </form>
}
else if (Model.Status == "New" || Model.Status == "Stopped")
{
    <form class="input-group-sm" asp-route-taskId="@Model.Id" asp-route-machineName="@Model.MachineName" asp-controller="AppTask" asp-action="StartStopTask" method="post">
        <input type="submit" value="Start" class="fs-6 btn btn-success mb-3 p-2" />
    </form>
}

@if (Model.Status != "Completed")
{
    <button><a class="nav-link text-dark" asp-route-taskId="@Model.Id" asp-controller="AppTask" asp-action="CompleteTask">Complete</a></button>
    <button><a class="nav-link text-dark" asp-area="" asp-controller="AppTask" asp-action="Add">Save changes</a></button>
}

<script>

    $(document).ready(function () {
        $('.js-example-basic-multiple').select2();
    });
</script>

