@model AppTaskDetailsViewModel


<h2>Machine: @Model.MachineName</h2>

<div>Creator: @Model.UserCreatedFullName</div>
<div>Description: @Model.Description</div>
<div>Created Date: @Model.CreatedDate</div>
@if (Model.UpdatedDate != null)
{
    <div>Update Date: @Model.UpdatedDate</div>
}


<select class="js-example-basic-multiple" name="states[]" multiple="multiple">
    @foreach (var sparePart in Model.SpareParts)
    {
        <option value="@sparePart.Id">@sparePart.Name @sparePart.Quantity</option>
    }
</select>


<a class="btn btn-outline-primary" asp-area="" asp-controller="AppTask" asp-action="Cancel">Cancel</a>


@if (Model.Status == "In Process")
{
    <form class="input-group-sm" asp-route-taskId="@Model.Id" asp-route-machineName="@Model.MachineName" asp-controller="AppTask" asp-action="StartStopTask" method="post">
        <input type="submit" value="Stop" class="fs-6 btn btn-warning mb-3 p-2" />
    </form>
}
else if (Model.Status == "New" || Model.Status == "Stopped")
{
    <form class="input-group-sm" asp-route-taskId="@Model.Id" asp-route-machineName="@Model.MachineName" asp-controller="AppTask" asp-action="StartStopTask" method="post">
        <input type="submit" value="Start" class="fs-6 btn btn-success mb-3 p-2" />
    </form>
}

@if (Model.Status != "Done")
{
    <a class="btn btn-info" asp-route-taskId="@Model.Id" asp-controller="AppTask" asp-action="CompleteTask">Complete</a>
    <a class="btn btn-warning" asp-area="" asp-controller="AppTask" asp-action="Add">Save changes</a>
}

<script>

    $(document).ready(function () {
        $('.js-example-basic-multiple').select2();
    });
</script>

