@model AppTaskDetailsViewModel

@{
    ViewBag.Title = $"{Model.Name} Details";

}

<h2 class="text-center">@ViewBag.Title</h2>

<div>Creator: <b>@Model.UserCreatedFullName</b></div>
<div>Description: <b>@Model.Description</b></div>
<div>Created Date: <b>@Model.CreatedDate</b></div>
@if (Model.UpdatedDate != null)
{
    <div>Update Date: <b>@Model.UpdatedDate</b></div>
}


@*@if (Model.Status != "Done")
{
    <select class="js-example-basic-multiple" style="width: 300px" name="partId" multiple="multiple">
        @foreach (var sparePart in Model.SpareParts)
        {
            <option value="@sparePart.Id">@sparePart.Code</option>
        }
    </select>
}*@
<div class="datailsTask">
    @if (Model.Status == "In Process")
    {
        <form class="input-group-sm" style="display: inline-block" asp-route-taskId="@Model.Id" asp-route-machineName="@Model.MachineName" asp-controller="AppTask" asp-action="StartStopTask" method="post">
            <input type="submit" value="Stop" class="fs-6 btn btn-danger p-2" />
        </form>
    }
    else if (Model.Status == "New" || Model.Status == "Stopped")
    {
        <form class="input-group-sm" style="display: inline-block" asp-route-taskId="@Model.Id" asp-route-machineName="@Model.MachineName" asp-controller="AppTask" asp-action="StartStopTask" method="post">
            <input type="submit" value="Start" class="fs-6 btn btn-success p-2" />
        </form>
    }

    @if (Model.Status != "Done")
    {
        <a class="btn btn-info" name="taskId" asp-route-taskId="@Model.Id" asp-controller="AppTask" asp-action="CompleteTask">Complete</a>

        @*<input type="submit" value="Add used parts">*@
    }

    <a class="btn btn-outline-primary" asp-area="" asp-controller="AppTask" asp-action="Cancel">Cancel</a>
</div>


<script>

    $(document).ready(function () {
        $('.js-example-basic-multiple').select2();
    });
</script>

