@model AddAssetViewModel

@{
    ViewBag.Title = "Add Asset";
}


<h2 class="text-center title-app">@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form asp-action="Add" method="post" class="form-app">
            <div class="mb-3">
                <label asp-for="@Model.Name" class="form-label">Name</label>
                <input asp-for="@Model.Name" class="form-control" aria-required="true" />
                <span asp-validation-for="Name" class="invalid-input"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Description" class="form-label">Description</label>
                <input asp-for="@Model.Description" class="form-control" aria-required="true" />
                <span asp-validation-for="Description" class="invalid-input"></span>
            </div>

            <div class="mb-3">
                <label asp-for="@Model.ApplicationUserId" class="form-label">Add to User</label>
                <select asp-for="@Model.ApplicationUserId" class="form-control">
                    @foreach (var applicationUser in Model.ApplicationUsers)
                    {
                        <option value="@applicationUser.Id">@applicationUser.FirstName</option>
                    }
                </select>
                <span asp-validation-for="ApplicationUserId" class="invalid-input"></span>

            </div>
            <div class="mb-3">
                <input class="btn btn-success" type="submit" value="Add" />
            </div>
        </form>

    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
