@model AllAppTaskQueryModel


<table class="table table-bordered table-responsive table-hover">
    <tr>
        <th>Task</th>
        <th>Description</th>
        <th>Machine</th>
        <th>Status</th>
        <th>Creator</th>
        <th>Complited By</th>
        <th>Created Date</th>
        <th>Update Date</th>
        <th></th>
        @if (User.IsInRole("Administrator") || User.IsInRole("Engineer"))
        {
            <th>Action</th>
        }

    </tr>
    @foreach (var task in Model.AppTasks)
    {
        var asd = "none";

        @if (task.StatusName == "Done")
        {
            asd = "background-color: #90ee90";
        }
        @if (task.StatusName == "Stopped")
        {
            asd = "background-color: #d8693e9e";
        }

        <tr style="@asd">
            <td>@task.Name</td>
            <td>@task.Description</td>
            <td>@task.MachineName</td>
            <td>@task.StatusName</td>
            <td>@task.UserCreatedFullName</td>
            <td>@task.UserContractorFullName</td>
            <td>@task.CreatedDate</td>
            <td>@task.UpdatedDate</td>
            <td>
                <form class="input-group-sm" asp-route-taskId="@task.Id" asp-route-machineName="@task.MachineName" asp-controller="AppTask" asp-action="Details" method="post">
                    <input type="submit" value="Details" class="fs-6 btn btn-info mb-3 p-2" />
                </form>
            </td>
            @if (User.IsInRole("Administrator") || User.IsInRole("Engineer"))
            {
                <td>
                    <form class="input-group-sm" asp-route-appTaskId="@task.Id" asp-route-machineName="@task.MachineName" asp-controller="AppTask" asp-action="Delete" method="post">
                        <input type="submit" value="Delete" class="fs-6 btn btn-danger mb-3 p-2" />

                    </form>
                </td>
            }

        </tr>
    }
</table>