@model IEnumerable<UserServiceModel>

@{
    ViewBag.Title = "All Users";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<table class="table table-striped">
    <thead>
        <tr>
            <th><label>Email</label></th>
            <th><label>Full Name</label></th>
            <th><label>Position</label></th>
            <th><label>Role</label></th>
            <th><label>Edit User</label></th>
            <th><label>Delete User</label></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td><label>@user.Email</label></td>
                <td><label>@user.FullName</label></td>
                <td><label>@user.JobPosition</label></td>
                <td><label>@user.Role.SingleOrDefault()</label></td>
                <td>
                  
                    <a class="btn btn-warning" asp-controller="User" asp-action="EditRole"
                   asp-route-userId="@user.UserId">Edit</a>
                </td>
                <td>
                    <form asp-area="Admin" asp-controller="User" asp-action="Delete" asp-route-userId="@user.UserId" method="post">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
